header {
<<<<<<< HEAD
    background: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}
header .logo {
    background: url("../images/logo.png") no-repeat;
    left: 20px;
    height: 100%;
}
=======
    position: relative;
    height: 70px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #CCCCCC;
}
header div.logo {
    position: absolute;
    width: 142px;
    height: 60px;
    background-image: url(../images/logo.png);
    left: 20px;
}
>>>>>>> c5c69c3b281ca80047e1f7969e0cd1ee2d9e23eb
